<div class="yaspert">

  <div>
    <h1>{{ title }} <br /> <small>Angular Edition</small> </h1>

    <h2>YASPET is a starter pack to create glorious Electron app</h2>
  </div>
  <div>
    <p>it's light like a breeze, it only come with :</p>

    <ul>
      <li>Electron 4</li>
      <li>Typescript 3</li>
    </ul>

    <p>
      <i>
        This edition come with all the Angular Framework tooling. With one addition : Nodemon to reload the main process during development.
      </i>
    </p>

  </div>
</div>
